body {
    /* padding-top: 60px; */
}
.articleLink{
    min-height: 100px;
}
.articleMeta{
    display: block;
    float: left;
    padding-left: 1em;
    word-break: break-all;
    max-width: calc(100% - 120px);
}
.articleThumb{
    border:1px solid #ddd;
    border-radius: 4px;
    display: block;
    float: left;
    height: 100px;
    width: 100px;
}
.thumb{
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
    text-align: left;
}
.nav > li > a:visited{
    color:#555555;
}
