body {
    /* padding-top: 60px; */
}
.articleLink{
    min-height: 100px;
}
.articleMeta{
    display: block;
    float: left;
    padding-left: 1em;
    max-width: calc(100% - 120px);
}
.articleThumb{
    border:1px solid #ddd;
    border-radius: 4px;
    display: block;
    float: left;
    height: 100px;
    width: 100px;
}
.thumb{
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
    text-align: left;
}
.nav > li > a:visited{
    color:#555555;
}

@media (max-width: 481px) {
    .articleLink{
        min-height: 200px;
        vertical-align: middle;
    }
    .articleMeta{
        display: block;
        float: left;
        padding-left: 1em;
        word-wrap: normal;
        max-width: 100%;
        padding-bottom: 1em;
    }
    .nav > li > a{
        max-height: inherit;
        text-align: center;
        vertical-align: middle;
    }
}
